@import url("https://use.typekit.net/yhx5xdq.css");

ul {
  font-weight: 300;
}

body p {
  margin: 20px 0px;
}

body {
  font-weight: 300;
  font-size: large;
}

body h1 {
  margin: 20px 0px;
  font-size: xx-large;
}

body h2 {
  margin: 20px 0px;
  font-size: xx-large;
}

body h3 {
  margin: 20px 0px;
  font-size: x-large;
}

body h4 {
  margin: 20px 0px;
  font-size: larger;
}

body blockquote {
  margin: auto;
  padding: 30px;
}

body blockquote p {
  margin: auto;
  font-size: larger;
  max-width: 600px;
  font-weight: 400;
  text-align: center;
}

body figcaption {
  font-family: elza-text, sans-serif;
  font-weight: lighter;
  font-style: italic;
  margin: auto;
  text-align: center;
  font-size: small;
}

body a {
  text-decoration: none;
  font-weight: 400;
  position: relative;
}

body a::before {
  content: "";
  background-color: #9ddbff7b;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 5px;
  z-index: -10;
  transition: all 0.3s ease-in-out;
}

body a:hover::before {
  bottom: 0;
  height: 100%;
}

.navigation-bar a::before {
  content: "";
  height: 0px;
  background-color: none;
  position: absolute;
}

.navigation-bar a:hover::before {
  height: 0%;
  z-index: 300;
}

button a:hover::before,
.chakra-button a:hover::before {
  height: 0%;
}

button a::before {
  content: "";
  height: 0px;
  background-color: none;
  position: absolute;
}

.chakra-button a::before {
  content: "";
  height: 0px;
  background-color: none;
  position: absolute;
}

img,
iframe {
  z-index: -30;
}
